
<% if (jsonData && jsonData.length > 0) { %>
    <h3>Student Details:</h3>
    <ul>
      <% for (const item of jsonData) { %>
        <li><%= item.name %> - <%= item.description %></li>
      <% } %>
    </ul>
  <% } %>
  